<% if @jobs.empty? %>
  <h3>No jobs available</h3>
<% else %>
  <ul class="list-unstyled">
  <% @jobs.each do |job| %>
    <li>
    <%= link_to({ :controller => 'jobs', :action => 'show', :id => job.id }) do %> 
      Job for <strong><%= job.image_label_set.image_set.name %></strong> set (<%= job.remaining %> images remaining)
    <% end %>
    </li>
  <% end %>
  </ul>
<% end %>