<h2>All users</h2>

<table class="table table-condensed .table-striped">
  <thead>
    <tr>
      <th>User name</th>
      <th>Admin?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
            <% if user.is_admin %>
            <span class="glyphicon glyphicon-ok"></span>
            <% end %>
        </td>
        <td>
            <%# No actions for currently active user %>
            <% if current_user.id != user.id %>
                <%= link_to 'Delete', admin_path(:id => user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>

                <% if user.is_admin %>
                    <%= link_to 'To user', { :action => 'to_user', :id => user.id }, method: :post, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs" %>
                <% else %>
                    <%= link_to 'To admin', { :action => 'to_admin', :id => user.id }, method: :post, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs" %>
                <% end %>

            <% else %>
                n/a
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

