<h2>My jobs</h2>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Image label set</th>
      <%# <th>User</th> %>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.image_label_set.image_set.name || "<span class='text-danger'>no name</span>".html_safe %></td>
        <% if false %> 
          <td><%= job.user.email %></td> 
        <% end %>

        <td>
          <% if job.isOpen %>
            <%= link_to 'Start Labeling', job %>
          <% else %>
            <span class="text-success">Done</span>
          <% end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

